<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Id
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>
                <th scope="col" class="px-6 py-3">
                    Created
                </th>
                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>
        <tbody>
          <% @clients.each do |client| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    <%= link_to client.id, client_path(client), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </th>
                <td class="px-6 py-4">
                    <%= link_to client.name, client_path(client), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
                <td class="px-6 py-4">
                    <%= client.email %>
                </td>
                <td class="px-6 py-4">
                    <%= client.phone %>
                </td>
                <td class="px-6 py-4">
                    <%= client.created_at.strftime('%b %d, %Y') %>
                </td>
                <td class="px-6 py-4 text-right">
                    <%= link_to "Edit", edit_client_path(client), class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
                </td>
            </tr>
          <% end %>
        </tbody>
    </table>
</div>

<div class="flex mt-10">
    <%= form_with url: clients_path, method: :get, data: { controller: "search-form" ,turbo_frame: "clients", turbo_action: "advance" } do |form| %>
        <%= form.label :query, "Search by client", class: "hidden" %>
        <%= form.text_field :query, placeholder: "Search by client", class: "mt-1 px-3 py-2 border border-gray-400 rounded-md shadow-sm focus:outline-none focus:ring focus:border-blue-300 w-full", data: { action: "input->search-form#search" } %>
        <%= form.submit "Search", class: "font-medium text-blue-600 dark:text-blue-500 hover:underline" %>
    <% end %>

    <div class="my-16">
        <%= render "clients", clients: @clients %>
    </div>
</div>