<div data-controller="modal">
  <div class="flex bg-gray-100 border border-gray-300 rounded-lg w-full mx-auto">
    <!-- Left Column for Timeline -->
    <div class="w-1/4 bg-white border-r border-gray-300">
      <div class="flex justify-between items-center">
        <div class="flex-1 text-center">
          <h2 class="text-l">Timeline</h2>
        </div>
        <button data-action="click->modal#open" class="bg-emerald-600 text-white font-bold w-10 h-10 flex items-center justify-center">
          +
        </button>
      </div>
      <ul class="space-y-2">
        <% @bookings.each do |booking| %>
          <li class="border border-gray-300 cursor-pointer">
            <div class="flex justify-between items-center bg-gray-100 hover:bg-gray-200">
              <span class="w-1/4 text-center p-1 bg-indigo-200"><%= booking.datetime.strftime('%b %d, %Y') %></span>
              <span class="w-3/4 text-center"><%= booking.appointment_type.name %></span>
            </div>
            <div class="hidden mt-2">
              <p><strong>User:</strong> <%= booking.user.name %></p>
              <p><strong>Time:</strong> <%= booking.datetime.strftime('%I:%M %p') %></p>
              <p><strong>Duration:</strong> <%= booking.duration %> minutes</p>
            </div>
          </li>
        <% end %>
      </ul>
    </div>

    <!-- Right Column for Client Information -->
    <div class="w-3/4 p-4">
      <div class="flex items-center justify-between">
        <div class="flex items-center">
          <% if @client.profile_picture.attached? %>
            <%= image_tag @client.profile_picture, class: "h-16 w-16 rounded-full mr-4" %>
          <% end %>
          <h1 class="text-4xl font-bold"><%= @client.name %></h1>
        </div>
        <%= link_to "Edit Client", edit_client_path(@client), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" %>
      </div>
      <p class="text-gray-700"><strong>Email:</strong> <%= @client.email %></p>
      <p class="text-gray-700"><strong>Phone:</strong> <%= @client.phone %></p>
    </div>
  </div>

  <!-- Modal for New Booking Form -->
  <div data-modal-target="modal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex items-center justify-center hidden modal-overlay">
    <div class="bg-white rounded-lg p-6 w-full max-w-3xl relative modal-content">
      <%= render 'bookings/form', booking: Booking.new, client_name: @client.name, client_email: @client.email, client_phone: @client.phone %>
      <div class="text-center mt-1 mb-1">
        <button data-action="click->modal#close" class="bg-gray-500 text-white rounded-lg px-4 py-2 hover:bg-gray-700">Close</button>
      </div>
    </div>
  </div>
</div>
