<div class="simple-calendar">
  <!-- Calendar Heading -->
  <div class="calendar-heading flex flex-wrap justify-between items-center p-4 border-b border-gray-200">
    <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title text-2xl font-semibold">
      <%= t('date.month_names')[start_date.month] %> <%= start_date.year %>
    </time>

    <div class="space-x-4">
      <%= link_to calendar.url_for_previous_view, class: "previous", data: { calendar_target: "previous", action: "click->calendar#navigateKeepingView" } do %>
        <span></span>
      <% end %>
      <%= link_to calendar.url_for_next_view, class: "next", data: { calendar_target: "next", action: "click->calendar#navigateKeepingView" } do %>
        <span></span>
      <% end %>
    </div>
  </div>

  <!-- Calendar Table -->
  <table class="table-auto w-full border-collapse">
    <!-- Table Header -->
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="px-4 py-2 bg-gray-100 text-center font-medium text-gray-700"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <!-- Table Body -->
    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: "align-top h-32 sm:h-40 md:h-48 lg:h-56 px-4 py-2 border-t border-r border-gray-200 #{'bg-blue-50' if day == Date.today}", data: { action: "click->calendar#handleSlotClick", date: "#{day} 00:00" } do %>
              <div>
                <div class="text-right font-semibold text-gray-700"><%= day.day %></div>
              </div>
              <div class="mt-2 space-y-1">
                <% calendar.sorted_events_for(day).each do |event| %>
                  <div class="text-sm text-center px-2 py-1 rounded
                              <%= 'bg-red-200 text-red-800' if event.appointment_type.name == 'Initial Assessment' %>
                              <%= 'bg-green-200 text-green-800' if event.appointment_type.name == 'Follow Up' %>">
                    <%= link_to edit_booking_path(event), class: "text-xs text-center text-black rounded px-1 py-0.5" do %>
                    <%= event.datetime.strftime('%-I:%M%p') %> <%= event.client.name %>
                  <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>