<div class="simple-calendar">
  <!-- Calendar Heading -->
  <div class="calendar-heading flex flex-wrap justify-between items-center p-4 border-b border-gray-200">
    <span class="calendar-title text-xl font-semibold">
      <%= "#{calendar.start_date.beginning_of_week.strftime('%b %d')} – #{calendar.start_date.end_of_week.strftime('%b %d, %Y')}" %>
    </span>

    <div class="space-x-4">
      <%= link_to calendar.url_for_previous_view, class: "previous ", data: { calendar_target: "previous", action: "click->calendar#navigateKeepingView" } do %>
        <span></span>
      <% end %>
      <%= link_to calendar.url_for_next_view, class: "next", data: { calendar_target: "next", action: "click->calendar#navigateKeepingView" } do %>
        <span></span>
      <% end %>
    </div>
  </div>

  <table class="table-fixed w-full border-collapse border border-gray-300">
    <thead>
      <tr>
        <th class="w-1/12 px-4 py-2 bg-gray-100 text-center font-medium text-gray-700"></th>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="w-1/7 px-4 py-2 bg-gray-100 text-center font-medium text-gray-700"><%= t('date.abbr_day_names')[day.wday] %> <%= day.day %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% (6..23).each do |hour| %>
        <% [0, 30].each do |minute| %>
          <tr>
            <% if minute == 0 %>
              <td class="border border-gray-300 text-right px-2 py-1" rowspan="2">
                <%= Time.new(2000, 1, 1, hour).strftime("%I %p").sub(/^0/, '').downcase %>
              </td>
            <% end %>
            <% date_range.slice(0, 7).each do |day| %>
              <td class="border border-gray-300 align-top h-10 relative <%= day == Date.today ? 'bg-amber-50' : 'bg-white' %>">
                <div class="absolute top-0 left-0 right-0 bottom-0">
                  <% calendar.sorted_events_for(day).each do |event| %>
                    <% if (event.start_time.hour == hour && event.start_time.min >= minute) || (event.start_time.hour < hour && event.end_time.hour > hour) || (event.end_time.hour == hour && event.end_time.min <= minute) %>
                      <div class="absolute w-full text-sm p-1 rounded
                        <%= 'bg-lime-500' if event.appointment_type.name == 'Initial Assessment' %>
                        <%= 'bg-sky-400' if event.appointment_type.name == 'Follow Up' %>"
                           style="top: <%= ((event.start_time.hour - hour) * 60 + event.start_time.min - minute) / 30.0 * 100 %>%;
                                  height: <%= ((event.end_time - event.start_time) / 30.minutes) * 100 %>%;">
                        <%= link_to booking_path(event), class: "text-white text-xs" do %>
                          <%= event.start_time.strftime('%I:%M') %> - <%= event.end_time.strftime('%I:%M') %>
                           <br>
                          <%= event.client.name %>
                        <% end %>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>