<div class="min-h-screen flex items-center justify-center bg-gray-100 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Sign in to your account
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        Or
        <%= link_to "sign up for a new account", new_user_registration_path, class: "font-medium text-indigo-600 hover:text-indigo-500" %>
      </p>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
      <div class="rounded-md shadow-sm -space-y-px">
        <div class="mb-4">
          <%= form.label :email, class: "sr-only" %>
          <%= form.email_field :email, autofocus: true, placeholder: "Email address", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>
        <div class="mb-4">
          <%= form.label :password, class: "sr-only" %>
          <%= form.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm" %>
        </div>

        <div class="flex items-center justify-between">
          <div class="mt-4 flex items-center">
            <%= form.check_box :remember_me, class: "h-4 w-4 text-indigo-600 focus:ring-indigo-500 border-gray-300 rounded" %>
            <%= form.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
          </div>

          <% if devise_mapping.rememberable? %>
            <div class="mt-4 mb-4 text-sm">
              <a href="<%= new_user_password_path %>" class="font-medium text-indigo-600 hover:text-indigo-500">
                Forgot your password?
              </a>
            </div>
          <% end %>
        </div>

        <div class="actions">
          <%= form.submit "Sign in", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      </div>
    <% end %>
  </div>
</div>